<div class="actions-group">
{#	<button class="translate-all-btn" data-action="translate-all">Tout traduire</button>#}
</div>

<div class="table-responsive">
	<table>
		<thead>
		<tr>
			{% for langue in languages %}
				<th>{{ langue['name'] }}</th>
			{% endfor %}
			<th class="actions">Actions</th>
		</tr>
		</thead>
		<tbody>
		{% for page in pagesByLanguage %}
			<tr>
				{% for langue in languages %}
					<td class="translation-cell">
						<a href="{{ page[langue['slug']]['url'] }}" class="page-link">
							{{ page[langue['slug']]['title'] }}
						</a>
					</td>
				{% endfor %}
				<td class="actions">
					{% include 'components/translate-button.html.twig' with {
						'label': 'Traduire',
						'action': 'akyos_translate_translate_single_page',
						'inputs' : [
							{
								'name': 'page_id',
								'value': page['fr']['id']
							},
							{
								'name': 'is_all_translated',
								'value': page['all_translated'] ? 1 : 0
							}
						],
					} %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
